# Configuración de Entorno - Agro Pacayales S.A.C.
# Curso: ASE251S4

# SQL Server
SA_PASSWORD=AgroPacayales2026!
MSSQL_PID=Developer
SQL_PORT=1433

# MongoDB
MONGO_PORT=27017
MONGO_INITDB_DATABASE=agropacayales_db

# Parámetros del Negocio
SEED_INSUMO_ID=INS-BIO-001
SEED_PARCELA_ID=PARC-NORTE-A1
SEED_COSECHA_ID=COS-2026-001
